<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Treasure Hunt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Congratulations!</ion-card-title>
      <ion-card-subtitle>You have completed your quest... so far.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      To collect your treasure make sure to wear:<br />
      <ul>
        <li>Your Strap</li>
        <li>Something Warm</li>
        <li>Something Waterproof</li>
        <li>Walking Boots</li>
      </ul>
      <p>What will you be doing? <strong>Light Walking</strong> and <strong>Eating</strong></p>
      <ion-button color="primary" expand="full" (click)="find()">Reveal Location</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
