<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Treasure Hunt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Congratulations!</ion-card-title>
      <ion-card-subtitle>You have completed your quest... so far.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      To collect your treasure make sure you wear: your strap, something warm, something waterproof and don't forget walking boots!<br /><br />
      <ion-button color="primary" expand="full" (click)="find()">Reveal your last clue!</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
