<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Treasure Hunt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="description">
    Search far and wide by any measure<br />
    It's <span [hidden]="countdownComplete">almost</span> time to begin your quest for treasure...
  </div>
  <app-timer [hidden]="countdownComplete" anniversary="{{anniversary}}" (onComplete)="onCountdownComplete($event)">
  </app-timer>
  <br />
  <div class="description" [hidden]="countdownComplete">
    All will be revealed once the timer has ended.<br /><strong>SO STOP ASKING QUESTIONS!</strong>
  </div>
  <div class="description" [hidden]="!secondaryTimerComplete || countdownComplete">
    Make sure you've showered and had breakfast before 9:30am!
  </div>
  <ion-card [hidden]="!countdownComplete || timeUp">
    <ion-card-header>
      <ion-card-title>You're being timed...</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-timer anniversary="{{anniversary2}}" (onComplete)="onTimesUp($event)"></app-timer>
    </ion-card-content>
  </ion-card>
  <ion-card [hidden]="!countdownComplete">
    <ion-card-header>
      <ion-card-title>Clue #1</ion-card-title>
      <ion-card-subtitle>All shining and silver,
        With a beautiful face,
        You look into me,
        And find this place.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <div class="description" [hidden]="!countdownComplete">
    <hr />
  </div>
  <ion-card [hidden]="!countdownComplete">
    <ion-card-header>
      <ion-card-title>Cryptogram</ion-card-title>
      <ion-card-subtitle>Find all the clues to help solve the cryptogram puzzle.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div [hidden]="!timeUp"><strong>Who's Alan's forever and ever?</strong></div>
      <div [hidden]="timeUp">
        <strong>10 17 23 21</strong>&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>2 11 2 1 21</strong>&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>7 23 16 13 8 13 16</strong><br />
        <strong>2 1 18</strong>&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>13 8 13 16</strong>?
      </div>
      <form (ngSubmit)="send(form)">
        <ion-label *ngIf="error && error.length > 0" color="danger">{{error}}</ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-input name="answer" [(ngModel)]="answer" placeholder="Enter Answer"></ion-input>
            </ion-col>
            <ion-col size="3">
              <ion-button type="submit" color="primary" expand="full">Send</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>